<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default .Site.Language.Lang }}" dir="{{ .Site.Language.Direction | default "ltr" }}">

<head>
  {{ partial "head.html" . }}
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WDZ3CGT4');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <a class="skip-link" href="#main-content">{{ i18n "skip_to_content" | default "Skip to content" }}</a>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDZ3CGT4" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ partial "header.html" . }}
  <main id="main-content" tabindex="-1">
    {{ partial "breadcrumb.html" . }}
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}
  {{ partial "whatsapp.html" . }}
</body>

</html>
