@use "../tools" as *;

/* 7) 布局容器 */
.container {
  box-sizing: border-box;
  max-width: var(--container);
  width: 100%;
  margin-inline: auto;
  padding-inline: space(1);
}
/* 定义要在 .container 后面使用，保证能覆盖 */
.container--wide    { --container: var(--container-wide); }
.container--narrow  { --container: var(--container-narrow); }
