{{- if not .IsHome -}}
  <nav class="breadcrumb" aria-label="{{ i18n "breadcrumb_label" }}">
    <div class="container">
      <ol class="breadcrumb__list" role="list">
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="{{ "/" | relLangURL }}">{{ i18n "home" }}</a>
        </li>
        {{- range .Ancestors.Reverse -}}
          {{- if not .IsHome -}}
            <li class="breadcrumb__item">
              <a class="breadcrumb__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
          {{- end -}}
        {{- end -}}
        <li class="breadcrumb__item" aria-current="page">
          <span class="breadcrumb__current">{{ .Title }}</span>
        </li>
      </ol>
    </div>
  </nav>
{{- end -}}
