{{ if .Paginator.HasPages }}
<nav class="res-pager" aria-label="{{ i18n "pagination" }}">
  {{ if .Paginator.Prev }}
    <a class="pager-prev" href="{{ .Paginator.Prev.URL }}" rel="prev">&larr; {{ i18n "pagination_previous" }}</a>
  {{ else }}
    <span class="pager-prev disabled" aria-disabled="true">&larr; {{ i18n "pagination_previous" }}</span>
  {{ end }}
  {{ range .Paginator.Pagers }}
    <a class="pager-num{{ if .IsCurrent }} current{{ end }}" href="{{ .URL }}" aria-label="{{ i18n "pagination_page" }} {{ .PageNumber }}"{{ if .IsCurrent }} aria-current="page"{{ end }}>{{ .PageNumber }}</a>
  {{ end }}
  {{ if .Paginator.Next }}
    <a class="pager-next" href="{{ .Paginator.Next.URL }}" rel="next">{{ i18n "pagination_next" }} &rarr;</a>
  {{ else }}
    <span class="pager-next disabled" aria-disabled="true">{{ i18n "pagination_next" }} &rarr;</span>
  {{ end }}
</nav>
{{ end }}