{{- $graph := slice -}}
{{- $orgParams := .Site.Params.organization -}}
{{- $orgID := printf "%s#organization" .Site.BaseURL -}}
{{- $websiteID := printf "%s#website" .Site.BaseURL -}}
{{- $pageID := printf "%s#webpage" .Permalink -}}
{{- $orgName := $orgParams.name | default (.Site.Params.company_name | default .Site.Title) -}}
{{- $orgLogo := $orgParams.logo | default (.Site.Params.logo | absURL) -}}
{{- $langCode := .Site.Language.Locale | default .Site.Language.Lang -}}
{{- $desc := (.Description | default .Params.hero_description | default .Summary | default .Site.Params.description | plainify) -}}

{{- $pageImageSource := "" -}}
{{- with .Params.images -}}
  {{- $pageImageSource = index . 0 -}}
{{- else -}}
  {{- with .Params.featured_image -}}
    {{- $pageImageSource = . -}}
  {{- else -}}
    {{- with .Params.cover_image -}}
      {{- $pageImageSource = . -}}
    {{- else -}}
      {{- with .Site.Params.default_image -}}
        {{- $pageImageSource = . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $pageImage := "" -}}
{{- with $pageImageSource -}}
  {{- $pageImage = partial "image-url.html" (dict "src" . "width" 1200) -}}
{{- end -}}

{{- $siteLanguages := slice -}}
{{- range .Site.Languages -}}
  {{- $siteLanguages = $siteLanguages | append (.Label | default .Lang) -}}
{{- end -}}

{{- $address := dict "@type" "PostalAddress" -}}
{{- with $orgParams.address.streetAddress }}{{- $address = merge $address (dict "streetAddress" .) -}}{{- end -}}
{{- with $orgParams.address.addressLocality }}{{- $address = merge $address (dict "addressLocality" .) -}}{{- end -}}
{{- with $orgParams.address.addressRegion }}{{- $address = merge $address (dict "addressRegion" .) -}}{{- end -}}
{{- with $orgParams.address.postalCode }}{{- $address = merge $address (dict "postalCode" .) -}}{{- end -}}
{{- with $orgParams.address.addressCountry }}{{- $address = merge $address (dict "addressCountry" .) -}}{{- end -}}

{{- $contact := dict "@type" "ContactPoint" "contactType" "sales" -}}
{{- with ($orgParams.telephone | default .Site.Params.contact_phone) }}{{- $contact = merge $contact (dict "telephone" .) -}}{{- end -}}
{{- with ($orgParams.email | default .Site.Params.contact_email) }}{{- $contact = merge $contact (dict "email" .) -}}{{- end -}}
{{- if gt (len $siteLanguages) 0 }}{{- $contact = merge $contact (dict "availableLanguage" $siteLanguages) -}}{{- end -}}

{{- $sameAs := slice -}}
{{- range $key, $url := .Site.Params.social -}}
  {{- if and $url (not (in $url "globaltech")) (ne $url "https://facebook.com/") -}}
    {{- $sameAs = $sameAs | append $url -}}
  {{- end -}}
{{- end -}}

{{- $org := dict
  "@type" "Organization"
  "@id" $orgID
  "name" $orgName
  "url" .Site.BaseURL
  "logo" $orgLogo
-}}
{{- with $orgParams.legalName }}{{- $org = merge $org (dict "legalName" .) -}}{{- end -}}
{{- with $orgParams.foundingDate }}{{- $org = merge $org (dict "foundingDate" .) -}}{{- end -}}
{{- with ($orgParams.telephone | default .Site.Params.contact_phone) }}{{- $org = merge $org (dict "telephone" .) -}}{{- end -}}
{{- with ($orgParams.email | default .Site.Params.contact_email) }}{{- $org = merge $org (dict "email" .) -}}{{- end -}}
{{- if gt (len $address) 1 }}{{- $org = merge $org (dict "address" $address) -}}{{- end -}}
{{- if gt (len $contact) 2 }}{{- $org = merge $org (dict "contactPoint" $contact) -}}{{- end -}}
{{- if gt (len $sameAs) 0 }}{{- $org = merge $org (dict "sameAs" $sameAs) -}}{{- end -}}
{{- $graph = $graph | append $org -}}

{{- $website := dict
  "@type" "WebSite"
  "@id" $websiteID
  "url" .Site.BaseURL
  "name" .Site.Title
  "publisher" (dict "@id" $orgID)
  "inLanguage" $langCode
-}}
{{- if gt (len $siteLanguages) 0 }}{{- $website = merge $website (dict "availableLanguage" $siteLanguages) -}}{{- end -}}
{{- $graph = $graph | append $website -}}

{{- $pageType := "WebPage" -}}
{{- if .IsNode -}}
  {{- $pageType = "CollectionPage" -}}
{{- end -}}
{{- if .IsHome -}}
  {{- $pageType = "WebPage" -}}
{{- end -}}
{{- if and .IsPage (eq .Section "products") -}}
  {{- $pageType = "ItemPage" -}}
{{- else if and .File (eq .File.ContentBaseName "contact") -}}
  {{- $pageType = "ContactPage" -}}
{{- else if and .File (eq .File.ContentBaseName "about") -}}
  {{- $pageType = "AboutPage" -}}
{{- end -}}

{{- $page := dict
  "@type" $pageType
  "@id" $pageID
  "url" .Permalink
  "name" (.Title | default .Site.Title)
  "description" $desc
  "inLanguage" $langCode
  "isPartOf" (dict "@id" $websiteID)
  "publisher" (dict "@id" $orgID)
-}}
{{- if $pageImage }}{{- $page = merge $page (dict "primaryImageOfPage" (dict "@type" "ImageObject" "url" $pageImage)) -}}{{- end -}}
{{- if not .IsHome }}{{- $page = merge $page (dict "breadcrumb" (dict "@id" (printf "%s#breadcrumb" .Permalink))) -}}{{- end -}}
{{- if and .IsPage (eq .Section "products") }}{{- $page = merge $page (dict "mainEntity" (dict "@id" (printf "%s#product" .Permalink))) -}}{{- end -}}
{{- if and .IsPage (eq .Section "resources") }}{{- $page = merge $page (dict "mainEntity" (dict "@id" (printf "%s#article" .Permalink))) -}}{{- end -}}
{{- $graph = $graph | append $page -}}

{{- if not .IsHome -}}
  {{- $items := slice (dict "@type" "ListItem" "position" 1 "name" (i18n "home") "item" ("/" | absLangURL)) -}}
  {{- $position := 2 -}}
  {{- range .Ancestors.Reverse -}}
    {{- if not .IsHome -}}
      {{- $items = $items | append (dict "@type" "ListItem" "position" $position "name" .Title "item" .Permalink) -}}
      {{- $position = add $position 1 -}}
    {{- end -}}
  {{- end -}}
  {{- $items = $items | append (dict "@type" "ListItem" "position" $position "name" .Title "item" .Permalink) -}}
  {{- $graph = $graph | append (dict "@type" "BreadcrumbList" "@id" (printf "%s#breadcrumb" .Permalink) "itemListElement" $items) -}}
{{- end -}}

{{- if and .IsPage (eq .Section "products") -}}
  {{- $productCategory := .Params.product_family | default .Params.product_type -}}
  {{- with .Params.product_series -}}
    {{- if $productCategory -}}
      {{- $productCategory = printf "%s > %s" $productCategory . -}}
    {{- else -}}
      {{- $productCategory = . -}}
    {{- end -}}
  {{- end -}}
  {{- $product := dict
    "@type" "Product"
    "@id" (printf "%s#product" .Permalink)
    "name" .Title
    "url" .Permalink
    "description" $desc
    "sku" .File.ContentBaseName
    "brand" (dict "@id" $orgID)
    "manufacturer" (dict "@id" $orgID)
    "mainEntityOfPage" (dict "@id" $pageID)
  -}}
  {{- with .Params.featured_image -}}
    {{- $productImage := partial "image-url.html" (dict "src" . "width" 1200) -}}
    {{- with $productImage }}{{- $product = merge $product (dict "image" (slice .)) -}}{{- end -}}
  {{- end -}}
  {{- with $productCategory }}{{- $product = merge $product (dict "category" .) -}}{{- end -}}
  {{- with .Params.specs -}}
    {{- $props := slice -}}
    {{- range $key, $value := . -}}
      {{- $type := printf "%T" $value -}}
      {{- $val := cond (or (eq $type "[]string") (eq $type "[]interface {}")) (delimit $value ", ") $value -}}
      {{- $props = $props | append (dict "@type" "PropertyValue" "name" (humanize $key) "value" (printf "%v" $val)) -}}
    {{- end -}}
    {{- if gt (len $props) 0 }}{{- $product = merge $product (dict "additionalProperty" $props) -}}{{- end -}}
  {{- end -}}
  {{- $graph = $graph | append $product -}}
{{- end -}}

{{- if and .IsPage (eq .Section "resources") -}}
  {{- $article := dict
    "@type" "Article"
    "@id" (printf "%s#article" .Permalink)
    "headline" .Title
    "url" .Permalink
    "description" $desc
    "datePublished" (.Date.Format "2006-01-02T15:04:05-07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")
    "author" (dict "@id" $orgID)
    "publisher" (dict "@id" $orgID)
    "mainEntityOfPage" (dict "@id" $pageID)
  -}}
  {{- with (or .Params.cover_image .Params.featured_image) -}}
    {{- $articleImage := partial "image-url.html" (dict "src" . "width" 1200) -}}
    {{- with $articleImage }}{{- $article = merge $article (dict "image" (slice .)) -}}{{- end -}}
  {{- end -}}
  {{- $graph = $graph | append $article -}}
{{- end -}}

<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@graph" $graph | jsonify | safeJS }}</script>
