{{ $industries := .Params.industries }}
{{ if $industries.enable }}
<section class="industries">
  <div class="container container--wide">
    <div class="industries__header">
      <h2 class="industries__title">{{ $industries.title }}</h2>
    </div>
    <div class="industries__grid">
      {{ range $industries.items }}
      <article class="industries__item">
        <div class="industries__media">
          {{ partial "picture.html" (dict
            "ctx"   $
            "src"   .image
            "alt"   .title
            "class" "industries__image"
            "sizes" "(max-width: 576px) 100vw, (max-width: 1024px) 50vw, 25vw"
            "w"     (slice 320 480 640 768 896 1024)
            "lqip"  true
          ) }}
          <div class="industries__caption">
            <span class="industries__caption-text">{{ .title }}</span>
          </div>
        </div>
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
