{{ with .Params.usps }}
  {{ if .enable }}
    <section class="usps" aria-label="{{ i18n "home_usps_label" }}">
      <div class="container">
        <ul class="usps__list" role="list">
          {{ range $index, $item := .items }}
            <li class="usps__item">
              <span class="usps__number" aria-hidden="true">{{ printf "%02d" (add $index 1) }}</span>
              <div class="usps__content">
                <p class="usps__title">{{ .title }}</p>
                <p class="usps__text">{{ .description }}</p>
              </div>
            </li>
          {{ end }}
        </ul>
      </div>
    </section>
  {{ end }}
{{ end }}
