{{ $usps := .Params.usps }}
{{ if and $usps $usps.enable }}
<section class="usps">
  <div class="container container--wide usps__container">
    {{ with $usps.items }}
    <div class="usps__list">
      {{ range $index, $item := . }}
      <article class="usps__item{{ if gt $index 0 }} usps__item--divided{{ end }}">
        {{ with $item.icon }}
        <div class="usps__icon" aria-hidden="true">
          <i class="{{ . }}"></i>
        </div>
        {{ end }}
        <div class="usps__content">
          {{ with $item.title }}<h3 class="usps__title">{{ . }}</h3>{{ end }}
          {{ with $item.description }}<p class="usps__text">{{ . }}</p>{{ end }}
        </div>
      </article>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
